@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@700&display=swap');

.errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(231, 172, 10) !important;
  background-color:rgb(0, 0, 43);
  height: 100vh;
  width: 100vw;
  font-family: 'Tomorrow', sans-serif !important;
  font-size: 2.5rem;

}

#error-icon{
  font-size: 18rem  !important;
}

.error-text{
  margin-left:5px;
  margin-right: 5px;
  margin-top: -2.5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

@media only screen and (max-width:600px)
{
  #error-icon{
    font-size: 14rem !important;
  }
}