.new-blog-container{
    min-width:100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/homepage-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.new-blog{
    color: whitesmoke !important;
    max-width: 90%;
}

.ck.ck-editor{
    width: 100% !important;
    max-width: 630px !important;
}

.ck.ck-editor__editable > .ck-placeholder::before {
    font-size: 20px !important;
    color: inherit;
    font-family: Georgia;
}
.ck.ck-editor__editable_inline{
    height: 300px;
    font-size: 1.1rem !important;
    background-color: transparent !important;
    overflow-y: auto !important;
    overflow-x: auto;
}