.root{
    
    max-width:650px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: #333 !important; 
    color: #fff !important;

    /*
            Border Setting here
    */
    border-style: solid !important; 
    border-width: 5px !important;
    border-image-source:linear-gradient(90deg, rgb(241, 59, 13), rgb(255, 165, 0)) !important;
    border-image-slice:1 !important;

}

.MuiTypography-colorTextSecondary{
    color: rgb(255,255,255,0.7) !important;
}
.media{
    height: 350px !important;
}


.expand{
        transform: rotate(0deg);
        margin-left: auto;
    }
.expandOpen{
    transform: rotate(180deg);
    color: #fff !important;
}


.card-content-blog{
    display: flex !important;
    justify-content: center !important;
}

.ck-read-only{
    background-color: transparent !important;
    height: auto !important;
    max-height: 500px;
    overflow-y: scroll;
}

@media only screen and (max-width:400px)
{
    .root{
        max-width: 350px !important;
    }
}

@media only screen and (min-width:650px)
{
    .root{
        width:550px !important;
        max-width: 550px !important;
    }
}


@media only screen and (min-width:800px)
{
    .root{
        width:650px !important;
        max-width: 650px !important;
    }
}

@media only screen and (min-width:1000px)
{
    .root{
        width:750px !important;
        max-width: 750px !important;
    }
}